In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress
from sklearn import datasets
from pprint import pprint
import requests
import gmaps
import os

# Import API key
from config import g_key, weather_api_key

In [2]:
url = "http://api.openweathermap.org/data/2.5/weather?"

In [3]:
r = requests.get(url=url)

In [4]:
print(r.text)

{"cod":401, "message": "Invalid API key. Please see http://openweathermap.org/faq#error401 for more info."}

Store Part I results into DataFrame

Load the csv exported in Part I to a DataFrame

In [5]:
city_weather_df = pd.read_csv('CityWeatherData.csv')
city_weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Windspeed
0,humaita,96,BR,1586480289,94,-7.51,-63.02,76.86,1.86
1,nishihara,20,JP,1586480289,72,26.18,127.76,71.60,10.29
2,fortuna,75,US,1586480290,76,40.60,-124.16,59.00,13.87
3,hasaki,75,JP,1586480290,58,35.73,140.83,57.00,10.29
4,kaitangata,39,NZ,1586480290,59,-46.28,169.85,60.78,3.15

In [14]:
# Column Reordering
city_weather_df = city_weather_df.rename(columns={"Cloudiness": "Cloudiness %",
                                      "Humidity": "Humidity %",
                                      "Max Temp": "Max Temp (F)",
                                     "Windspeed":"Windspeed (mph)"})

city_weather_df.dropna()
city_weather_df.head()

,City,Cloudiness %,Country,Date,Humidity %,Lat,Lng,Max Temp (F),Windspeed (mph)
0,humaita,96,BR,1586480289,94,-7.51,-63.02,76.86,1.86
1,nishihara,20,JP,1586480289,72,26.18,127.76,71.60,10.29
2,fortuna,75,US,1586480290,76,40.60,-124.16,59.00,13.87
3,hasaki,75,JP,1586480290,58,35.73,140.83,57.00,10.29
4,kaitangata,39,NZ,1586480290,59,-46.28,169.85,60.78,3.15

Humidity Heatmap

Configure gmaps.
Use the Lat and Lng as locations and Humidity as the weight

In [7]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key) 

# Store 'Lat' and 'Lng' into  locations 
locations = city_weather_df[["Lat", "Lng"]].astype(float)
weights = city_weather_df["Humidity %"].astype(float)

In [9]:
# Create humidity Heatmap layer
fig = gmaps.figure()

#create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
#add layer
fig.add_layer(heat_layer)

#display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
fig = gmaps.figure(layout=figure_layout)

In [33]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations)

# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', margin='0 auto 0 auto', padding='1px'))

Create new DataFrame fitting weather criteria

Narrow down the cities to fit weather conditions.
Drop any rows will null values.

In [31]:
new_dict = {
    "city": cities,
    "lat": lat,
    "Max Temp": Max_Temp,
    "Cloudiness %": Cloudiness_%
}

weather_data = pd.DataFrame(new_dict)
weather_data.head()

SyntaxError: invalid syntax (<ipython-input-31-0ca813cbe1f5>, line 6)

In [32]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in city_weather_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'